<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6a84d36f-7aa7-4930-a5ac-ed4bb2f39cfa" Publisher="CN=darrel" Version="1.0.0.0" />
  <Properties>
    <DisplayName>XBrowser</DisplayName>
    <PublisherDisplayName>darrel</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Interactor.App">
      <VisualElements DisplayName="Interactor" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Interactor" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>